*, *::after , *::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: OneSlice;
  src: url(./fonts/One\ Slice.otf);
}

:root{
  --fonteRelogio: 'OneSlice';
  --cor-verde: rgba(36, 85, 55, 0.9);
  --cor-verde-after: rgba(13, 46, 26, 1);
  --cor-span-01: rgb(238, 241, 4, 0.9);
  --cor-span-02: rgba(190, 187, 199, 0.9);
  --cor-cinza: rgba(231, 227, 231, 0.9);
  --cor-branco: rgba(255, 255, 255, 1);
}
body {
  background-color: #0d0d0e;
}

.manha, .tarde, .noite, .madrugada {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.manha { background-image: url("./src/img-dia-01.jpg"); }
.tarde { background-image: url("./src/img-dia-02.jpg"); }
.noite { background-image: url("./src/img-noite-01.jpg"); }
.madrugada { background-image: url("./src/img-noite-02.jpg"); }

#containerHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#containerHeader p {
  margin: 0;
  padding: 0;
  background-color: var(--cor-verde);
}
#containerHeader a {
  text-decoration: none;
  font-size: 10px;
  color: var(--cor-branco);
}

abbr[title] {
  text-decoration: none;
}

#containerFHDataHJ {
  display: flex;
  justify-content: space-around;
}
#containerFHDataHJ span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  min-width: 450px;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--cor-verde); 
}
#containerFHDataHJ span p {
  font-size: 30px;
  background-color: var(--cor-verde); 
  color: var(--cor-branco);
}
#containerFHDataHJ .bottomSpanDia {
  border-bottom: 4px solid var(--cor-span-01);
}
#containerFHDataHJ .bottomSpanNoite {
  border-bottom: 4px solid var(--cor-span-02);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  overflow: hidden;
}

#containerRelogio {
  width: 400px;
  height: 400px;
  background-color: var(--cor-verde);
  border: 5px solid var(--cor-cinza);
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 15px var(--cor-verde); 
}
#containerRelogio .numeroH {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  text-align: center;
  font-size: 1.7rem;
  transform: rotate(var(--rotation));
}
#containerRelogio .n01 { --rotation: 30deg; }
#containerRelogio .n02 { --rotation: 60deg; }
#containerRelogio .n03 { --rotation: 90deg; }
#containerRelogio .n04 { --rotation: 120deg; }
#containerRelogio .n05 { --rotation: 150deg; }
#containerRelogio .n06 { --rotation: 180deg; }
#containerRelogio .n07 { --rotation: 210deg; }
#containerRelogio .n08 { --rotation: 240deg; }
#containerRelogio .n09 { --rotation: 270deg; }
#containerRelogio .n10 { --rotation: 300deg; }
#containerRelogio .n11 { --rotation: 330deg; }
#containerRelogio .n12 { --rotation: 360deg; }
#containerRelogio .numeroH span {
  color: var(--cor-cinza);
  font-family: var(--fonteRelogio);
  font-size: 32px;
}
#containerRelogio .n06 span, #containerRelogio .n12 span, #containerRelogio .n03 span, #containerRelogio .n09 span {
  font-size: 44px;
}
#containerRelogio .tempo {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid var(--cor-cinza);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-59%) rotate(calc(var(--rotation) * 1deg));
}
#containerRelogio::after{
  content: "";
  position: absolute;
  background-color: var(--cor-verde-after);
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#containerRelogio .tempo.hora {
  width: 8px;
  height: 30%;
  background-color: var(--cor-cinza);
}
#containerRelogio .tempo.minuto {
  width: 6px;
  height: 36%;
  background-color: var(--cor-cinza);
}
#containerRelogio .tempo.segundo {
  width: 4px;
  height: 42%;
  background-color: var(--cor-cinza);
}

footer {
  text-align: center;
  font-style: oblique;
  color: var(--cor-cinza);
  font: bold 12pt Arial;
}
footer p a {
  text-decoration: none; color: inherit;
}

@media only screen and (max-width: 800px) {
  body {
    min-height: 100vh;
  }
  #containerFHDataHJ {
    flex-direction: column;
    text-align: center;
  }
  #containerFHDataHJ span { 
    min-width: auto;
  }
  #containerFHDataHJ span p {
    font-size: 20px;
  }
  #espacoBottom {
    margin-bottom: 10px;
  }
  .manha, .tarde, .noite, .madrugada {
    background-position: 70%;
  }
}