@import url(“../../../../../app.css); 

body {
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 175px;
  background: linear-gradient(to left, var(--cor-verde), var(--cor-amarelo-claro));
  background: url("../../../src/img-dia-01.jpg");
}
a {
  text-decoration: none;
}
hr {
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(to right, var(--cor-verde), var(--cor-amarelo-claro));
}
hr:hover {
  background: linear-gradient(to right, var(--cor-amarelo-claro), var(--cor-verde));
  transition: all 0.9s;
}
header {
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 4px solid var(--cor-verde);
  background-color: var(--cor-amarelo-escuro);
  box-shadow: 2px 2px 10px var(--cor-verde);
}
header h1 {
  margin: 0;
  padding: 5px 5px;
  color: var(--cor-branca);
  font: normal 1.7em Arial;
}
main {
  display: flex;
  flex-direction: column;
}
button {
  margin: 10px 10px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: none;
  font: normal 1.4em Arial;
}
button:active {
  transform: scale(0.77);
}
button:hover {
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}
button:active, button:hover {
  transition: all 0.9s;
}
/* #btnAtivar:hover, #btnAtivar span::shadow {
  background-color: var(--cor-verde);
} */
#btnPausar:hover, #btnPausar span::shadow {
  background-color: var(--cor-amarelo-claro);
}
/* #btnAtivar {
  background-color: var(--cor-amarelo-escuro);
  border-bottom: 4px solid var(--cor-verde);
  box-shadow: 5px 5px 10px rgb(238, 241, 4, 0.7);
} */
#btnPausar {
  background-color: var(--cor-amarelo-escuro);
  border-bottom: 4px solid var(--cor-amarelo-claro);
  box-shadow: 5px 5px 10px var(--cor-verde);
}
span {
  color: var(--cor-branca);
  font-weight: bold;
  background-color: var(--cor-verde);
}
footer {
  margin-top: 20px;
}
footer a {
  color: var(--cor-branca);
}
footer small {
  font: normal 0.9em Arial;
}
#container {
  margin: 10px;
}
