@import url(“../../../../app.css); 

body {
  background-color: var(--cor-verde);
  font: normal 10pt Arial;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  color: var(--cor-branca);
  padding: 20px;
}

main {
  min-height: 60vh;
}

main section {
  margin: auto;
  width: 700px;
  padding: 10px;
  background: url("../../../src/img-dia-01.jpg");
  box-shadow: 0px 0px 12px var(--cor-cinza);
}

section div {
  padding: 20px;
  border-radius: 20px; 
  background-color: rgba(36, 85, 55, 0.8);
  color: var(--cor-branca);
}

section div div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  margin: 10px;
}

section div h2 {
  font: bold 1.9em Arial;
}
section div h3 {
  font: bolder 1.5em Arial;
  padding-bottom: 0px;
}
section div p { 
  padding-top: 0px;
  font: lighter 1.2em Arial;
}

section div ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0px;
  list-style: none;
}
section div ul li{
  font: oblique 12pt Arial;
  padding: 5px;
}
section div ul li a {
  text-decoration: none;
}

footer {
  margin-top: 10px;
  text-align: center;
  font-style: oblique;
  color: var(--cor-preto);
  font: normal 12pt Arial;
}

footer span a {
  color: var(--cor-branca);
}

@media only screen and (max-width: 800px) {
  main section {
    width: auto;
  }
}

@media only screen and (min-width: 1400px) {
  main section {
    width: 1000px;
    padding: 20px;
  }
  section div h2 {
    font: bold 2.2em Arial;
  }
  section div h3 {
    font: bolder 1.8em Arial;
  }
  section div p { 
    font: lighter 1.5em Arial;
  }
  section div ul li{
    font: oblique 15pt Arial;
    padding: 10px;
  }
}
