*, *::after , *::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#containerdataHJ {
  display: flex;
  font-size: 30px;
  justify-Content: space-between;
  font-family: sans-serif;
}

main {
  background: linear-gradient(to left, rgb(36, 147, 238), rgb(35, 60, 170));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  overflow: hidden;
}

#containerRelogio {
  width: 400px;
  height: 400px;
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
}

#containerRelogio .numeroH {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  text-align: center;
  font-size: 1.7rem;
  transform: rotate(var(--rotation));
}

/* #containerRelogio .numeroHt { 
  padding: 0px;
} */

/* #containerRelogio .n01t { --rotation: 17deg; } */
#containerRelogio .n01 { --rotation: 30deg; }
#containerRelogio .n02 { --rotation: 60deg; }
#containerRelogio .n03 { --rotation: 90deg; }
#containerRelogio .n04 { --rotation: 120deg; }
#containerRelogio .n05 { --rotation: 150deg; }
#containerRelogio .n06 { --rotation: 180deg; }
#containerRelogio .n07 { --rotation: 210deg; }
#containerRelogio .n08 { --rotation: 240deg; }
#containerRelogio .n09 { --rotation: 270deg; }
#containerRelogio .n10 { --rotation: 300deg; }
#containerRelogio .n11 { --rotation: 330deg; }
#containerRelogio .n12 { --rotation: 360deg; }

#containerRelogio .tempo {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-59%) rotate(calc(var(--rotation) * 1deg));
}

#containerRelogio::after{
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#containerRelogio .tempo.hora {
  width: 12px;
  height: 30%;
  background-color: rgb(7, 210, 224);
}

#containerRelogio .tempo.minuto {
  width: 8px;
  height: 35%;
  background-color: rgb(0, 0, 0);
}

#containerRelogio .tempo.segundo {
  width: 3px;
  height: 40%;
  background-color: red;
}

footer {
  /* margin-top: 8vw; */
  text-align: center;
  font-style: oblique;
  color: rgb(4, 158, 135);
  font: bold 12pt Arial;
}

footer p a {
  text-decoration: none; color: inherit;
}

@media only screen and (max-width: 800px) {
  #containerdataHJ {
    flex-direction: column;
    text-align: center;
  }
}